<div class="footer">
    <div class="footer__slogan">Знание. <span>Компетентность.</span> Профессионализм.</div>
    <div class="footer__seo">
        <div class="seo-text">
            <div class="seo-text__inner">
                <div class="seo-text__img">
                    <img src="img/seo-text__img.svg" alt="">
                </div>
                <div class="seo-text__txt">
                    Центр по&nbsp;изучению Китая 中国研究中心 современный &laquo;мозговой&raquo; центр, занимающийся комплексным исследованием китайской культуры и&nbsp;истории, анализом перспективного развития глобальной экономики &laquo;номер два&raquo;, и&nbsp;выступающий диалоговой площадкой для сотрудничества между правительствами, деловыми кругами, экспертно-академическими сообществами и&nbsp;университетами Республики Казахстан и&nbsp;Китайской Народной Республики.
                </div>
            </div>
        </div>
    </div>
    <div class="footer__contacts">
        <div class="contacts">
            <div class="contacts__inner">
                <div class="contacts__item">
                    <div class="contacts__header">КОНТАКТЫ</div>
                    <a href="mailto:info@chinastudies.kz" class="contacts__mail">info@chinastudies.kz</a>
                </div>
                <div class="contacts__item">
                    <div class="contacts__header">ПОДПИШИТЕСЬ НА РАССЫЛКУ</div>
                    <form class="subscription" action="">
                        <input class="subscription__input" type="text">
                        <input class="subscription__submit" type="submit">
                    </form>
                </div>
                <div class="contacts__item">
                    <div class="contacts__header">МЫ В СОЦИАЛЬНЫХ СЕТЯХ</div>
                    <a href="#" class="contacts__social facebook" target="_blank"></a>
                    <a href="#" class="contacts__social instagram" target="_blank"></a>
                    <a href="#" class="contacts__social youtube" target="_blank"></a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__sass">
        <div class="sass">
            <div class="sass__inner">
                <div class="sass__img">
                    <img src="img/sass__img.png" width="95" alt="">
                </div>
                <div class="sass__txt">
                    В стратегическом партнерстве с Шанхайской Академией общественных наук <img src="img/sass__txt.png" width="225" alt=""> <a
                        href="http://www.sass.org.cn/" target="_blank">www.sass.org.cn</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__text">
        Все интеллектуальные права защищены. При использовании информационных материалов www.chinastudies.kz упоминание Центра по&nbsp;изучению Китая обязательны. Позиция Центра может не&nbsp;совпадать с&nbsp;мнением авторов.
    </div>
    <div class="footer__copy">© 2018. Центр по изучению Китая</div>
</div>