<div class="header">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <a href="#" class="header__logo"><img src="img/logo-damutek.svg" alt=""></a>
            <div class="header__category dropdown">
                <div class="dropdown-toggle" data-toggle="dropdown">Категории</div>
                <ul class="dropdown-menu">
                    <li><a href="#">Дизайн</a></li>
                    <li><a href="#">Экономика</a></li>
                    <li><a href="#">Юридическое лицо</a></li>
                    <li><a href="#">Архитектура</a></li>
                    <li><a href="#">2D графика</a></li>
                    <li><a href="#">3D графика</a></li>
                    <li><a href="#">Менеджмент</a></li>
                    <li><a href="#">Бизнес</a></li>
                    <li><a href="#">Личностный рост</a></li>
                </ul>
            </div>
            <div class="header__search">
                <input type="text" class="header__input">
                <input type="submit" class="header__submit">
            </div>
            <div class="header__registr">
                <a href="#" class="header__auth popap_box" data-body="reg">Войти</a>
                <a href="#" class="header__reg popap_box" data-body="auth">Зарегистрироваться</a>
                <a href="#" class="header__basket"></a>
            </div>
            <div class="hidden">
                <div id="modalbox_auth" class="modal-auth">
                    <div class="box-modal_close arcticmodal-close"></div>
                    <div class="modal-auth__logo"><img src="img/modal__logo.png" alt=""></div>
                    <div class="modal-auth__header">ЗАРЕГИСТРИРОВАТЬСЯ КАК ПРЕПОДАВАТЕЛЬ</div>

                    <div class="modal-auth__anons">
                        Здравствуйте! Для того, чтобы стать преподавателем на нашем ресурсе, делиться своими
                        знаниями и иметь дополнительный источник дохода, Вам необходимо пройти несколько процедур:
                    </div>
                    <div class="modal-auth__inner">
                        <div class="modal-auth__item">
                            <div class="modal-auth__num">1</div>
                            <p>Ознакомиться с договором<br>
                                о сотрудничестве</p>
                        </div>
                        <div class="modal-auth__item">
                            <div class="modal-auth__num">2</div>
                            <p>Пройти процедуру регистрации<br>
                                аккаунта преподавателя</p>
                        </div>
                        <div class="modal-auth__item">
                            <div class="modal-auth__num">3</div>
                            <p>Записать 3-х минутное видео<br>
                                о курсе, который вы будете<br>
                                преподавать и отправить нам.</p>
                        </div>
                        <a href="#" class="modal-auth__btn">Продолжить</a>
                        <a href="#" class="modal-auth__btn modal-auth__btn--gray">Отмена</a>
                    </div>
                </div>

                <div id="modalbox_reg" class="modal-reg">
                    <div class="box-modal_close arcticmodal-close"></div>
                    <div class="modal-reg__logo"><img src="img/modal__logo.png" alt=""></div>

                    <div class="modal-reg__tabs">
                        <!-- Навигация -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="active"><a href="#sign" class="active" aria-controls="sign" role="tab"
                                                  data-toggle="tab">ВОЙТИ</a></li>
                            <li><a href="#regis" aria-controls="regis" role="tab"
                                   data-toggle="tab">ЗАРЕГИСТРИРОВАТЬСЯ</a></li>
                        </ul>
                        <!-- Содержимое вкладок -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="sign">
                                <form class="form-reg" action="">
                                    <div class="form-reg__item has-error">
                                        <label class="form-reg__label" for="login">Адрес электронной почты</label>
                                        <input id="login" type="text" class="form-reg__input"
                                               placeholder="Andrei@mail.com">
                                    </div>
                                    <div class="form-reg__item">
                                        <label class="form-reg__label" for="pass">Пароль</label>
                                        <input id="pass" type="text" class="form-reg__input"
                                               placeholder="***************">
                                    </div>
                                    <div class="form-reg__item">
                                        <a href="#" class="form-reg__forgot">Забыли пароль?</a>
                                    </div>
                                    <div class="alert alert-danger" role="alert">
                                        Пожалуйста, проверьте адрес своей электронной почты и пароль.
                                    </div>
                                    <div class="form-reg__item">
                                        <button type="submit" class="btn btn-primary w-100">Войти</button>
                                    </div>
                                    <div class="form-reg__social">
                                        <p>Войти через социальные сети: </p>
                                        <a href="#"><img src="img/form-reg__vk.png" alt=""></a>
                                        <a href="#"><img src="img/form-reg__fb.png" alt=""></a>
                                        <a href="#"><img src="img/form-reg__gm.png" alt=""></a>
                                    </div>
                                </form>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="regis">
                                <form class="form-reg  needs-validation" action="">
                                    <div class="form-group">
                                        <label>Имя</label>
                                        <input type="text" class="form-control" placeholder="Ануар">
                                    </div>
                                    <div class="form-group">
                                        <label>Фамилия</label>
                                        <input type="text" class="form-control" placeholder="Рахметов">
                                    </div>
                                    <div class="form-group">
                                        <label>Электронный адрес</label>
                                        <input type="email" class="form-control" aria-describedby="emailHelp"
                                               placeholder="anuarkz4545@mail.com">
                                    </div>
                                    <div class="form-group">
                                        <label>Пароль</label>
                                        <input type="password" class="form-control error" placeholder="**********">
                                    </div>
                                    <div class="form-group">
                                        <label>Повторите пароль</label>
                                        <input type="password" class="form-control" placeholder="**********">
                                    </div>
                                    <div class="form-group">
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                            <label class="form-check-label" for="exampleCheck1">Создавая аккаунт, я
                                                принимаю
                                                <b>Условия<br>
                                                    использования и Политика
                                                    конфиденциальности</b> Damutek </label>
                                        </div>
                                    </div>
                                    <div class="alert alert-danger" role="alert">
                                        Пароль должен состоять минимум
                                        из 6 символов.
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary w-100">Зарегистрироваться</button>
                                    </div>
                                    <div class="form-reg__social">
                                        <p>Войти через социальные сети: </p>
                                        <a href="#"><img src="img/form-reg__vk.png" alt=""></a>
                                        <a href="#"><img src="img/form-reg__fb.png" alt=""></a>
                                        <a href="#"><img src="img/form-reg__gm.png" alt=""></a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-reg__problem">
                        <a href="#">У Вас возникли проблемы со входом?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>