<div class="header">
    <div class="header__nav">
        <ul class="nav">
            <li><a href="#" class="nav__item">Новости</a></li>
            <li><a href="#" class="nav__item">Публицации</a>
                <ul class="nav__level">
                    <li><a href="#" class="nav__item">Современый китай</a></li>
                    <li><a href="#" class="nav__item">Современый китай</a></li>
                    <li><a href="#" class="nav__item">Современый китай</a></li>
                    <li><a href="#" class="nav__item">Современый китай</a></li>
                    <li><a href="#" class="nav__item">Современый китай</a></li>
                    <li><a href="#" class="nav__item">Современый китай</a></li>
                </ul>
            </li>
            <li><a href="#" class="nav__item">Шелковый путь 2.0</a></li>
            <li><a href="#" class="nav__item">Бизнес и право</a></li>
            <li><a href="#" class="nav__item">Культура</a></li>
            <li><a href="#" class="nav__item">Мультимедиа</a></li>
            <li><a href="#" class="nav__item">Мероприятия</a></li>
            <li><a href="#" class="nav__item">О нас</a></li>
            <li class="nav__search js-search"></li>
        </ul>
        <div class="header__search">
            <input type="text" placeholder="Введите текст для поиска">
        </div>
    </div>
    <div class="header__inner">
        <img src="img/del/header__img.png" alt="">
        <div class="header__logo">
            <img src="img/logo.png" class="img-logo" alt="">
        </div>
    </div>
    <div class="header__fast-news">
        <div class="fast-news">
        <div class="fast-news__inner js-fast-news">
            <div class="fast-news__item">На газопроводе «Казахстан-Китай» введена в строй новая компрессорная станция</div>
            <div class="fast-news__item">Цифровая экономика составляет 30% ВВП Китая</div>
            <div class="fast-news__item">Китай продвигает развитие промышленного туризма</div>
            <div class="fast-news__item">Китай продвигает развитие промышленного туризма</div>
        </div>
    </div>
    </div>
</div>