<div class="header-business">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-2">
                <a href="#" class="header__logo"><img src="img/logo-damutek.svg" alt=""></a>
            </div>
            <div class="col-lg-2">
                <a href="#" class="header__category"><nobr>Каталог курсов</nobr></a>
            </div>
            <div class="col-lg-2">
                <div class="dropdown show">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Тарифный план
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                        <a class="dropdown-item" href="#">Корпоративный </a>
                        <a class="dropdown-item" href="#">Команда</a>
                        <a class="dropdown-item" href="#">Гибкий</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="dropdown show">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Прочие услуги
                    </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
                        <a class="dropdown-item" href="#">Бизнес-кейсы</a>
                        <a class="dropdown-item" href="#">Электронные книги</a>
                        <a class="dropdown-item" href="#">Вебинары</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <a href="#" class="header-business__login">Войти</a>
                <a href="#" class="btn-proceesed">Приступить</a>
            </div>
        </div>
    </div>
</div>