<div class="header">
    <div class="container">
        <div class="row">
            <div class="header__inner">
                    <a href="#"><img src="img/logo-damutek.png" alt=""></a>
                    <div>Категории</div>
                    <div class="header__search">
                    <input type="text" class="header__input">
                    <input type="submit" class="header__submit">
                </div>
                    <div class="header__registr">
                        <a href="#">Войти</a>
                        <a href="#">Зарегистрироваться</a>
                        <a href="#"></a>
                    </div>
            </div>
        </div>
    </div>
</div>