<div class="partners">
    <div class="partners__header">Наши партнеры</div>
    <div class="container">
        <div class="row">
            <div class="partners__inner">
            <div class="col-lg-2">
                <img src="img/cisco.png" alt="">
            </div>
            <div class="col-lg-2">
                <img src="img/mitel.png" alt="">
            </div>
            <div class="col-lg-2">
                <img src="img/cetis.png" alt="">
            </div>
            <div class="col-lg-2">
                <img src="img/samsung.png" alt="">
            </div>
            <div class="col-lg-2">
                <img src="img/indel.png" alt="">
            </div>
            <div class="col-lg-2">
                <img src="img/hoteza.png" alt="">
            </div>
            </div>
        </div>
    </div>
</div>