<div class="reviews">
    <div class="reviews__header">Отзывы</div>
    <div class="reviews__inner js-reviews">
        <div class="reviews__item">
            <div class="reviews__img">
                <div class="reviews__img-resize">
                <img src="img/del/rewies-1.jpg" alt="">
                </div>
            </div>
            <div class="reviews__txt">
                <div class="reviews__data">29.01.2018</div>
                <p class="reviews__anons">Курсы по дизайну помогли моей карьере. Большое спасибо порталу Damutek.kz,
                    за доступное обучение и неограниченные возможности</p>
                <div class="reviews__name">Ерлан Аминов</div>
            </div>
        </div>
        <div class="reviews__item">
            <div class="reviews__img">
                <div class="reviews__img-resize">
                <img src="img/del/rewies-1.jpg" alt="">
                </div>
            </div>
            <div class="reviews__txt">
                <div class="reviews__data">29.01.2018</div>
                <p class="reviews__anons">Курсы по дизайну помогли моей карьере. Большое спасибо порталу Damutek.kz,
                    за доступное обучение и неограниченные возможности</p>
                <div class="reviews__name">Ерлан Аминов</div>
            </div>
        </div>
    </div>
</div>