<div class="teacher">
    <div class="teacher__header">Наши преподаватели</div>
    <div class="container">
        <div class="row d-flex justify-content-around">

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="teacher__item">
                    <div class="teacher__img">
                        <img src="img/del/teacher-1.jpg" alt="">
                    </div>
                    <div class="teacher__txt">
                        <div class="teacher__name">Иванов Артем</div>
                        <div class="teacher__anons">Adobe Photoshop</div>
                        <a href="#" class="teacher__btn">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="teacher__item">
                    <div class="teacher__img">
                        <img src="img/del/teacher-2.jpg" alt="">
                    </div>
                    <div class="teacher__txt">
                        <div class="teacher__name">Софи Елисеева</div>
                        <div class="teacher__anons">Adobe Illustrator</div>
                        <a href="#" class="teacher__btn">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="teacher__item">
                    <div class="teacher__img">
                        <img src="img/del/teacher-3.jpg" alt="">
                    </div>
                    <div class="teacher__txt">
                        <div class="teacher__name">Олжас Альжанов</div>
                        <div class="teacher__anons">Маркетинг и финансы</div>
                        <a href="#" class="teacher__btn">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>