.account-menu{
	width: 100%;
	display: flex;
	align-items: center;
	min-height: 50px;
	padding: 0;
	&--navbar{
		padding: 0;
		.navbar-toggler{
			width: 40px;
			height: 40px;
			padding: 6px;
			border: 1px solid #fff;
			.icon-bar{
				display: block;
				width: 100%;
				height: 1px;
				background-color: #fff;
				margin: 4px 0;
			}
		}
		.navbar-nav{
			margin-left: -20px;
			margin-right: -20px;
		}
		.nav-item{
			position: relative;
			padding:0 20px;
			&:after{
				content: '';
				position: absolute;
				top: 50%;
				right: 0;
				transform: translate(0,-50%);
				background-color: #fff;
				width: 1px;
				height: 80%;
			}
			&:last-of-type{
				&:after{
					display: none;
				}
			}
			&.none-line{
				&:after{
					display: none;
				}
			}
		}
		.nav-link{
			color: #fff;
			position: relative;
			&.create{
				display: block;
				background-color: #487fc7;
				padding:10px 35px;
				&:before{
					content: '+';
					position: absolute;
					top: 50%;
					left: 13px;
					transform: translate(0,-50%);
					color: #fff;
					font-size: 24px;
					font-weight: bold;
				}
			}
			&.dots{
				&:before{
					content: '+';
					position: absolute;
					top: 50%;
					left: 13px;
					transform: translate(0,-50%);
					color: #fff;
					font-size: 24px;
					font-weight: bold;
				}
			}
		}


	}
	&__item{
		position: relative;
		height: 100%;
		text-align: center;
		&:last-of-type{
			text-align: right;
		}
		span{
			display: inline-block;
			height: 100%;
			color: #fff;
			font-size: 16px;
			line-height: 50px;
			text-align: center;
			text-decoration: none;
			position: relative;
		}
		a{
			display: inline-block;
			height: 100%;
			color: #fff;
			font-size: 16px;
			line-height: 50px;
			text-align: center;
			text-decoration: none;
			position: relative;
			&:hover{
				color: #fff;
				text-decoration: none;
				&:after{
					content: '';
					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;
					background-color: #487fc7;
					width: 100%;
					height: 5px;
				}
			}
		}
	}
	&__btn{
		background-color: #487fc7;
		width: 197px;
		height: 100%;

	}
	.nav-item{
		position: relative;
		&:after{
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			background-color: #fff;
			width: 1px;
			height: 100%;
		}
		&:last-child{
			&:after{
				display: none;
			}
		}
		&:first-child{
			.nav-link{
				padding-left: 0!important;
			}
		}
	}
	.nav-link{
		color: #fff;
		padding-left: 20px!important;
		padding-right: 20px!important;
	}
	@include r(980){
		&--navbar{
			padding: 10px 0;
			.nav-item{
				position: relative;
				padding:0 20px;
				&:after{
					display: none;
				}
			}
			.nav-link{
				color: #fff;
				&.create{
					display: block;
					background-color: #487fc7;
					position: relative;
					padding:10px 35px;
					&:before{
						content: '+';
						position: absolute;
						top: 50%;
						left: 13px;
						transform: translate(0,-50%);
						color: #fff;
						font-size: 24px;
						font-weight: bold;
					}
				}
			}
			.navbar-collapse{
				padding: 20px 0;
			}
			.navbar-nav{
				margin-left: 0;
				margin-right: 0;
			}
			.ml-auto{
				margin-left: 0!important;
			}

		}
	}
}