.all-block {
  background-color: $primary1;
  background-image: url("../img/all-block__bg.png");
  width: 100%;
  padding: 70px 20px;
  &__inner {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__left {
    max-width: 635px;
    width: 100%;
    margin-right: 30px;
    flex-shrink: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__right {
    max-width: 445px;
    width: 100%;
  }
  &__news {
    width: 255px;
    height: 200px;
    position: relative;
    margin-right: 30px;
    margin-bottom: 30px;
    display: block;
    text-decoration: none;
    &:hover{
      .color1{
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba($primary7, .95);
          width: 100%;
          height: 100%;
        }
      }
      .color2 {
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba($primary3, .95);
          width: 100%;
          height: 100%;
        }
      }
      .color3 {
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba($primary5, .95);
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  &__silk {
    width: 350px;
    height: 200px;
    position: relative;
    margin-bottom: 30px;
    display: block;
    text-decoration: none;
    &:hover{
      .color1{
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba($primary7, .95);
          width: 100%;
          height: 100%;
        }
      }
      .color2 {
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba($primary3, .95);
          width: 100%;
          height: 100%;
        }
      }
      .color3 {
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba($primary5, .95);
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  &__events {
    width: 100%;
    height: 200px;
    position: relative;
    margin-bottom: 30px;
    display: block;
    text-decoration: none;
    &:hover{
      .color1{
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba($primary7, .95);
          width: 100%;
          height: 100%;
        }
      }
      .color2 {
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba($primary3, .95);
          width: 100%;
          height: 100%;
        }
      }
      .color3 {
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba($primary5, .95);
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  &__world {
    width: 100%;
    height: 200px;
    position: relative;
    margin-bottom: 30px;
    display: block;
    text-decoration: none;
    &:hover{
      .color1{
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba($primary7, .95);
          width: 100%;
          height: 100%;
        }
      }
      .color2 {
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba($primary3, .95);
          width: 100%;
          height: 100%;
        }
      }
      .color3 {
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba($primary5, .95);
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  &__infographic {
    width: 100%;
    height: 430px;
    position: relative;
    margin-bottom: 30px;
    display: block;
    text-decoration: none;
    &:hover{
      .color1{
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba($primary7, .95);
          width: 100%;
          height: 100%;
        }
      }
      .color2 {
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba($primary3, .95);
          width: 100%;
          height: 100%;
        }
      }
      .color3 {
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba($primary5, .95);
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  &__public {
    width: 100%;
    height: 200px;
    position: relative;
    margin-bottom: 30px;
    display: block;
    text-decoration: none;
    &:hover{
      .color1{
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba($primary7, .95);
          width: 100%;
          height: 100%;
        }
      }
      .color2 {
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba($primary3, .95);
          width: 100%;
          height: 100%;
        }
      }
      .color3 {
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba($primary5, .95);
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  &__img {
    width: 100%;
    height: 100%;

    &.color1 {
      box-shadow: 0 30px 80px -30px rgba($primary7,.9);
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba($primary7, .85);
        width: 100%;
        height: 100%;
      }
    }
    &.color2 {
      box-shadow: 0 30px 80px -30px rgba($primary3,.9);
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba($primary3, .85);
        width: 100%;
        height: 100%;
      }
    }
    &.color3 {
      box-shadow: 0 30px 80px -30px rgba($primary5,.9);
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba($primary5, .85);
        width: 100%;
        height: 100%;
      }
    }
  }
  &__name {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary1;
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
  }
  &__icon-news{
    display: inline-block;
    background-image: url("../img/all-block__icon-news.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 16px;
    height: 20px;
    margin-right: 15px;
  }
  &__icon-silk{
    display: inline-block;
    background-image: url("../img/all-block__icon-silk.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 15px;
  }
  &__icon-events{
    display: inline-block;
    background-image: url("../img/all-block__icon-events.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 15px;
  }
  &__icon-world{
    display: inline-block;
    background-image: url("../img/all-block__icon-world.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 15px;
  }
  &__icon-infographic{
    display: inline-block;
    background-image: url("../img/all-block__icon-infographic.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 15px;
  }
  &__icon-public{
    display: inline-block;
    background-image: url("../img/all-block__icon-public.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 15px;
  }
}