.become-a-teacher{
	&__img{
		height: 95px;
		img{
			vertical-align: middle;
			height: 100%;
		}
	}
	&__group{
		background-color: #4a7ec5;
		padding: 20px 0;
		margin: 30px 0;
		p{
			color: #fff;
			font-size: 16px;
		}
	}
	&__btn{
		background-color: #1a2a75;
		display: block;
		width: 100%;
		height: 68px;
		margin: 75px auto;
		color: #fff;
		line-height: 68px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
	}
	h2{
		color: #fff;
		font-size: 24px;
		text-transform: uppercase;
	}
	h3{
		color: #000;
		font-size: 14px;
		text-transform: uppercase;
	}
	hr{
		border-width: 2px;
	}
	.carousel{
		margin-bottom: 50px;
	}
	.carousel-item{
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block;
		}
	}
	.carousel-caption{
		text-align: left;
		top: 20%;
	}
	.carousel-indicators li{
		width: 12px;
		height: 12px;
		border-radius: 50%;
		border: none;
		background-color: #fff;
	}
	.carousel-indicators .active{
		background-color: #487fc7;
	}
}