.commands{
	padding: 50px 0;
	text-align: center;
	img{
		display: block;
		margin: 0 auto;
	}
	h2{
		font-size: 24px;
		text-transform: uppercase;
		margin-bottom: 40px;
	}
	h4{
		font-size: 24px;
		margin: 10px 0 5px;
	}
	span{
		font-size: 14px;
	}
}