.content-course{
	background-color: #f0f1f4;
	padding: 30px 0;
	&__item{
		display: flex;
		padding: 30px 0;
	}
	&__name{
		color: #487fc7;
		font-size: 18px;
		line-height: 25px;
		font-weight: bold;
		width: 257px;
		flex-shrink: 0;
	}
	&__anons{
		width: 100%;
	}
}