.course {
	width: 100%;
	position: relative;
	margin-bottom: 40px;
	&:after {
		content: '';
		display: table;
		clear: both;
	}
	&__header {
		color: #040308;
		font-size: 25px;
		text-align: center;
		margin-bottom: 25px;
	}
	&__item {
		max-width: 234px;
		width: 100%;
		margin: 0 auto 20px;
		&:hover{
			.course__hover{
				display: block;
			}
		}
	}
	&__img {
		width: 100%;
		height: 162px;
		position: relative;
		img{
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__label{
		position: absolute;
		bottom: 5px;
		right: 0;
		background-color: #487fc7;
		padding: 2px 8px 1px;
		color: #fff;
		font-size: 14px;
		text-transform: uppercase;

	}
	&__txt {
		background-color: #f0f1f4;
		padding: 26px 19px;
		color: #040308;
		position: relative;
	}
	&__name {
		font-size: 17px;
		font-weight: bold;
		margin-bottom: 13px;
	}
	&__author {
		font-size: 15px;
		margin-bottom: 15px;
	}
	&__star {
		margin-bottom: 13px;
	}
	&__bottom{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 20px;
	}
	&__price {
		font-size: 20px;
		font-weight: bold;
	}
	&__like{
		display: block;
		background-image: url("../img/course__like.png");
		background-repeat: no-repeat;
		background-position: top left;
		width: 28px;
		height: 25px;
		cursor: pointer;
		&.active{
			background-position: top right;
		}
	}
	&__slide{
		width: 100%;
		position: absolute;
		top: 150px;
		left: 0;
		right: 0;
		z-index: 100;
		background-color: #f0f1f4;
	}
	&__anons{
		list-style: none;
		margin: 0;
		padding: 0;
		display: none;
		position: relative;
		top: 0;
		li{
			padding: 5px 0;
			border-top: 1px solid #aaaaaa;
			&:last-of-type{
				border-bottom: 1px solid #aaaaaa;
			}
		}
	}
	&__btn{
		display: block;
		background-color: #dadada;
		width: 100%;
		height: 40px;
		color: #040308;
		font-size: 14px;
		line-height: 40px;
		text-align: center;
		text-decoration: none;
		cursor: pointer;
	}
	&__base{
		font-size: 14px;
		margin-bottom: 10px;
	}
}