.create-course{
	position: relative;
	margin-bottom: 20px;
	&:after {
		content: '';
		display: table;
		clear: both;
	}
	img{
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
	&__header{
		background-color: #f3f3f3;
		color: #fff;
		padding: 40px 0 10px;
		margin-bottom: 60px;
		font-size: 24px;
		text-transform: uppercase;
		text-align: center;
	}
	&__header-block{
		width: 100%;
		background-color: #1a2a75;
		padding: 40px;
		p{
			max-width: 650px;
			margin: 0 auto;
		}
	}
	&__form{
		margin-bottom: 49px;
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}
	&__label{
		display: block;
		color: #487fc7;
		font-size: 16px;
		font-weight: bold;
		margin-top: 10px;
	}
	&__input{
		width: 100%;
		height: 37px;
		padding: 0 18px;
		border: 1px solid #487fc7;
	}
	&__btn{
		position: relative;
		width: 100%;
		height: 48px;
		display: block;
		margin: 30px 2px 20px auto;
		background-color: #487fc7;
		color: #fff;
		font-size: 16px;
		line-height: 48px;
		text-align: center;
		text-decoration: none;
		box-shadow: 3px 3px 12px -4px rgba(#000,.6);
		&:hover{
			text-decoration: none;
			color: #fff;
		}
		&--left{
			margin-left: 0;
		}
	}
	&__contact{
		
	}
	&__email{
		display: block;
		color: #fff;
		font-size: 16px;
		font-weight: bold;
		line-height: 1;
		text-decoration: none;
		text-align: center;
		margin-bottom: 12px;
		&:hover{
			color: inherit;
			text-decoration: none;
		}
	}
	&__inner{
		padding: 30px 60px;
		text-align: center;
		background-color: #487fc7;
		color: #fff;
		h3{
			font-size: 24px;
			font-weight: bold;
			margin: 0 0 50px;
		}
		h4{
			font-size: 18px;
			font-weight: bold;
			text-transform: uppercase;
			margin: 0 0 25px;
		}
		p{
			font-size: 18px;
		}
		hr{
			background-color: #fff;
			border: none;
			width: 100%;
			height: 2px;
		}
	}
}