.footer{
  width: 100%;
  position: relative;
  background-image: url("../img/footer-bg.png");
  z-index: 1;
  &__inner{
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
  }
  &__slogan{
    width: 100%;
    background-color: $primary5;
    padding: 11px 0;
    color: $primary1;
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    span{
      color: $primary4;
    }
  }
  &__text{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding-top: 26px;
    color: $primary5;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }
  &__copy{
    width: 100%;
    padding: 40px 20px;
    color: $primary5;
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    text-align: center;
  }

}