.in-social{
  position: relative;
  width: 100%;
  background-color: $primary4;
  padding: 20px 30px;
  box-shadow: 0 30px 80px -30px rgba($primary4,.9);
  &__header{
    color: $primary5;
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    margin-bottom: 18px;
  }
  &__inner{
    display: flex;
    justify-content: space-around;
  }
  &__item{
    display: block;
    text-decoration: none;
    &.facebook{
      background-image: url("../img/in-social__facebook.svg");
      background-size: 100%;
      background-repeat: no-repeat;
      width: 20px;
      height: 40px;
    }
    &.instagram{
      background-image: url("../img/in-social__instagram.svg");
      background-size: 100%;
      background-repeat: no-repeat;
      width: 40px;
      height: 40px;
    }
  }
}