.lang{
  width: 100%;
  position: relative;
  padding-bottom: 24px;
  margin-bottom: 30px;
  &:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,0);
    background-color: $primary4;
    width: 44px;
    height: 1px;
  }
  &__item{
    display: block;
    color: $primary1;
    font-size: 18px;
    line-height: 25px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 19px;
    &:last-child{
      margin-bottom: 0;
    }
    &:hover{
      text-decoration: inherit;
      color: $primary4;
    }
    &.active{
      color: $primary4;
      border-bottom: 2px solid;
    }
  }
}