.target-course{
	width: 100%;
	padding: 37px 0;
	background-color: #487fc7;
	&__header{
		color: #fff;
		font-size: 24px;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 11px;
	}
	&__subtitle{
		color: #fff;
		font-size: 16px;
		margin-bottom: 20px;
		text-align: center;
	}
	&__item{
		display: flex;
		align-items: center;
		padding: 30px 0;
		border-bottom: 2px solid #fff;
		&:last-of-type{
			border: 0;
		}
		&--border{
			border: none;
		}
	}
	&__name{
		color: #fff;
		font-size: 18px;
		line-height: 22px;
		font-weight: bold;
		width: 255px;
		flex-shrink: 0;
	}
	&__anons{
		color: #fff;
		font-size: 18px;
		line-height: 25px;
	}
	&__btn{
		position: relative;
		width: 187px;
		height: 48px;
		display: block;
		margin: 0 2px 20px auto;
		background-color: #1a2a75;
		color: #fff;
		font-size: 16px;
		line-height: 48px;
		text-align: center;
		text-decoration: none;
		box-shadow: 3px 3px 12px -4px rgba(#000,.6);
		&:hover{
			text-decoration: none;
			color: #fff;
		}
	}
	textarea{
		background-color: transparent;
		width: 100%;
		height: 69px;
		padding: 12px;
		border: 1px solid #fff;
		color: #fff;
		font-size: 16px;
		line-height: 1;
		&::-webkit-input-placeholder {
			color: #fff;
		}
		&::-moz-placeholder {
			color: #fff;
		}
		&:-ms-input-placeholder {
			color: #fff;
		}
		&:-moz-placeholder {
			color: #fff;
		}
	}
}