.target-course{
	width: 100%;
	padding: 37px 0;
	background-color: #487fc7;
	&__header{
		color: #fff;
		font-size: 24px;
		font-weight: bold;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 11px;
	}
	&__item{
		display: flex;
		align-items: center;
		padding: 30px 0;
		border-bottom: 2px solid #fff;
		&:last-of-type{
			border: 0;
		}
	}
	&__name{
		color: #fff;
		font-size: 18px;
		line-height: 22px;
		font-weight: bold;
		width: 255px;
		flex-shrink: 0;
	}
	&__anons{
		color: #fff;
		font-size: 18px;
		line-height: 25px;
	}
}