.teacher-course{
	position: relative;
	margin-bottom: 40px;
	padding: 20px 0;
	&__header{
		color: #040308;
		font-size: 24px;
		margin-bottom: 20px;
		&--create{
			text-align: center;
			color: #487fc7;
			font-size: 24px;
			font-weight: bold;
			text-transform: uppercase;
		}
	}
	&__inner{
		display: flex;
		margin-bottom: 20px;
		button{
			position: relative;
			width: 153px;
			height: 48px;
			display: block;
			border: none;
			margin: 0;
			margin-left: auto;
			margin-right: 0;
			background-color: #487fc7;
			color: #fff;
			font-size: 16px;
			line-height: 48px;
			text-align: center;
			text-decoration: none;
			box-shadow: 3px 3px 12px -4px rgba(#000,.6);
			&:hover{
				text-decoration: none;
				color: #fff;
			}
			&--left{
				margin-left: 0;
			}
		}
	}
	&__img{
		width: 300px;
		flex-shrink: 0;
		background-image: url("../img/teacher-course__img-no.png");
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
		&--create{
			border: 1px solid #487fc7;
		}
	}
	&__txt{
		width: 100%;
		background-color: #f0f1f4;
		padding: 25px 40px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&__name{
		color: #040308;
		font-size: 18px;
		font-weight: bold;
	}
	p{
		color: #6b6b6b;
		font-size: 16px;
		line-height: 29px;
	}
	&__btn{
		color: #040308;
		font-size: 14px;
		text-align: right;
		display: block;
		text-decoration: none;
		border: none;
	}
	&__panel{
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		border-top: 1px solid #d6d6d6;
		margin-top: 20px;
		padding: 10px 0;
	}
	&__rating{
		position: relative;
		padding-left: 30px;
		color: #040308;
		font-size: 14px;
		&:before{
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0,-50%);
			background-image: url("../img/teacher-course__rating.svg");
			background-repeat: no-repeat;
			width: 15px;
			height: 14px;
		}
	}
	&__student{
		position: relative;
		padding-left: 30px;
		color: #040308;
		font-size: 14px;
		&:before{
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0,-50%);
			background-image: url("../img/teacher-course__student.png");
			background-repeat: no-repeat;
			width: 13px;
			height: 15px;
		}
	}
	&__course{
		position: relative;
		padding-left: 30px;
		color: #040308;
		font-size: 14px;
		&:before{
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(0,-50%);
			background-image: url("../img/teacher-course__course.png");
			background-repeat: no-repeat;
			width: 13px;
			height: 15px;
		}
	}
	input{
		background-color: transparent;
		width: 100%;
		height: 44px;
		padding: 0 10px;
		border: 1px solid #487fc7;
		color: #9fa0a0;
		font-size: 18px;
		font-weight: normal;
		margin-bottom: 20px;
		&::-webkit-input-placeholder {
			color: #9fa0a0;
		}
		&::-moz-placeholder {
			color: #9fa0a0;
		}
		&:-ms-input-placeholder {
			color: #9fa0a0;
		}
		&:-moz-placeholder {
			color: #fff;
		}
	}
	textarea{
		background-color: transparent;
		width: 100%;
		padding: 10px;
		border: 1px solid #487fc7;
		color: #9fa0a0;
		font-size: 18px;
		font-weight: normal;
		margin-bottom: 20px;
		&::-webkit-input-placeholder {
			color: #9fa0a0;
		}
		&::-moz-placeholder {
			color: #9fa0a0;
		}
		&:-ms-input-placeholder {
			color: #9fa0a0;
		}
		&:-moz-placeholder {
			color: #fff;
		}
	}
	&__button{
		display: flex;
		justify-content: space-between;
		button{
			position: relative;
			min-width: 154px;
			height: 48px;
			display: block;
			border: none;
			margin: 0;
			padding: 0 20px;
			background-color: #487fc7;
			color: #fff;
			font-size: 16px;
			line-height: 48px;
			text-align: center;
			text-decoration: none;
			box-shadow: 3px 3px 12px -4px rgba(#000,.6);
			&:hover{
				text-decoration: none;
				color: #fff;
			}
			&--left{
				margin-left: 0;
			}
		}
	}
	&__button-item{
		button{
			position: relative;
			min-width: 154px;
			height: 48px;
			display: inline-block;
			border: none;
			margin: 0;
			margin-right: 18px;
			padding: 0 20px;
			background-color: #487fc7;
			color: #fff;
			font-size: 16px;
			line-height: 48px;
			text-align: center;
			text-decoration: none;
			box-shadow: 3px 3px 12px -4px rgba(#000,.6);
			&:last-child{
				margin-right: 0;
			}
			&:hover{
				text-decoration: none;
				color: #fff;
			}
			&--left{
				margin-left: 0;
			}
		}
	}
}