.panel-right{
  position: fixed;
  right: 0;
  top: 179px;
  z-index: 100;
  &__inner{
    width: 100%;
    max-width: 70px;
    background-color: $primary3;
    position: relative;
    padding: 24px 20px;
    text-align: center;
  }
}